:root {
    color: black;
}

#scoreBoard {
    background-color: aliceblue;
}

#cardTable {
    display: grid;
    grid-gap: 1vw;
    grid-template-columns: repeat(4, 20vw);
    grid-template-rows: 1fr 1fr 1fr;
    background-color: aquamarine;
    padding: 1vw;
}

.card {
    background-color: white;
    height: 20vw;
    width: 20vw;
    border-radius: 3rem;
}

.card img {
    object-fit: scale-down;
    height: 15vw;
    width: 15vw;
}
