:root {
    color: black;
}

#scoreBoard {
    background-color: aliceblue;
}

#cardTable {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr;
}

.card {
    background-color: white;
    height: 25vw;
}

.card img {
    object-fit: scale-down;
    height: 8rem;
    width: 9rem;
}
